body{
	background-color: #ecf4f3 ;
	color:#006a71;
}
header{
	text-align: center;
	font-family: 'Lora', serif;
}
.canvas{

}

#tooltip{
	position: absolute;
	max-width: 200px;
	background-color: #68b0ab;
	pointer-events: none;
	border-radius: 10px;
	padding: 10px;
}